/* google fornts start here */
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
/* google fornt end here */
body 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #000;
}

.container {
    width: 400px;
    margin: 10px 20px 0 518px;
    padding: 10px;
    border: 1px solid #b0bec5;
    border-radius: 10px;
    /*box-shadow: 5px 3px 10px 2px #cfd8dc;*/
    background: #efefef;
}

.container .main-score-headding {
    font-size: 28px;
    text-align: center;
    color: #303f9f;
}

.player1-p-tag-element {
    margin-right: 10px;
    margin-left: 70px;
    font-size: 18px;
    float: left;
}

.player2-p-tag-element {
    font-size: 18px;
    margin-top: 40px;
    overflow: hidden;
}

.container .inputElm {
    margin-left: -141px;
    margin-bottom: 10px;
}

.container input[type="text"] {
    width: 266px;
    padding: 5px 5px;
    font-size: 15px;
    border: 1px solid #000;
    border-radius: 4px;
    outline: none;
}

.container input[type="text"]:focus 
{
    border: 1px solid #303f9f;
}
.btn-block {
    margin: 14px 0 14px 80px;
}
/* success message start here */
/*
.successMessage h2 {
    width: 400px;
    margin: 47px 0 0 523px;
    padding: 14px 5px;
    border: 1px solid #bdbdbdbf;
    border-radius: 10px;
    font-size: 25px;
    text-align: center;
    font-family: 'Satisfy', cursive;
    background: #efefef;
}
*/




.successMessage h2 {
    width: 400px;
    margin: 47px 0 0 523px;
    padding: 14px 5px;
    border-radius: 10px;
    font-size: 25px;
    text-align: center;
    font-family: 'Satisfy', cursive; 
    
}
